*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
}

header{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(135deg,#111,#222);
}

h1{
font-size:50px;
color:#FFD700;
margin-bottom:20px;
}

p{
font-size:22px;
max-width:700px;
margin-bottom:30px;
}

a{
display:inline-block;
padding:15px 35px;
margin:10px;
background:#FFD700;
color:#111;
text-decoration:none;
font-weight:bold;
border-radius:12px;
transition:.3s;
}

a:hover{
transform:translateY(-3px);
  }
